@CHARSET "UTF-8";
body {margin:0;}

ul {
	list-style-type: none;
	color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

#log {
	height: 30px;
	float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#divone {
	padding:10px;
	margin-top:30px;
	background-color:#4CAF50;
	min-height:1000px;
	}
	
.posts {
	padding:10px;
	background-color:#ffffff;
	width:500px;
	margin: 10px 20%;
	height:auto;
}

.post_head {
	margin: 5px;
	background-color:#ffffff;
	width:auto;
	min-height:50px;
}

.post_head2 {
	border-bottom-style: 5px solid;
	margin-left: 10%;
	background-color:#ffffff;
	width:69.8%;
	height:56px;
	padding:10px;
	text-align: down;
	border: 1px solid #000040;
}
.avatar {
	background-color:#4CAF50;
	margin: 1px;
	float: left;
	padding: 0;
	height: auto;
    width: 50px;
	border: 2px solid #400040;
}

.avatar img {
	margin: 0;
	width: 100%;
    
}
.text {
	text-indent: 10px;
	
	
	
	padding: 5px;
	background-color:#ffffff;
	width:480px;
	
	border: 1px solid #c0c0c0;
	border-radius: 5px;	
	margin-top: 15px;
	margin-left: 4px;
	margin-bottom: 8px;
}

.posttext {
	text-indent: 10px;
	margin-left: 10%;
	text-overflow: ellipsis;
	padding: 10px;
	background-color:#ffffff;
	width:69.8%;
	min-height:30px;
	border: 1px solid #000040;
	
}

#comments_line {
	
	border-bottom-style: solid;
	margin-left: 10%;
	pedding: 0;
	background-color:#f2f2f2;
	width:70%;
	height:20px;
	border-style: 2px bottom #000080;
	margin-top: 20px;
}

#comments {
	padding: 5px;
	margin-left: 15%;
	background-color:#ffffff;
	width:66%;
	height:auto;
	border: 1px solid #c0c0c0;
	margin-top: 10px;
}

#comment {
	width: 50%;
    height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#postadd {
	margin:20px 30px 0 0;
	width: 400px;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


.addcommentbutton {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: #0000ff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
tr {
	display: inline;
}
	
form {
	text-align: center;
}

.otherform {
	border: none;
	background-color:#4CAF50;
	position: fixed;
	top: 20%;
	left: 35%;
	padding: 15px;
	min-height: 150px;
}
input {
	width: 200px;
	height: 20px;
}
input[type=button], input[type=submit], input[type=reset] {
	border: 1px solid #c0c0c0;
	background-color: #4CAF50;
	color: white;
	padding: 5px 10px;
	text-decoration: none;
	margin: 0 2px;
	cursor: pointer;
	height: 30px;
	width: 100px;
}

.btn {
	background-color: #0080ff;
	border: none;
	color: white;
	padding: 3px 8px 4px 10px;
	text-decoration: none;
	margin: 0 2px;
	cursor: pointer;
}

#authorization {
	margin-top:100px;
	background-color:#4CAF50;
}

#btn {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 5px 10px;
	text-decoration: none;
	margin: 0 2px;
	cursor: pointer;
}